<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

	<system.serviceModel>
		<services>
			<service name="InstrumentLockService.InstrumentLockService" >

				<!-- Leave the address blank to be populated by default -->
				<!-- from the hosting environment,in this case IIS, so -->
				<!-- the address will just be that of the IIS Virtual -->
				<!-- Directory. -->

				<!-- Specify the binding configuration name for that -->
				<!-- binding type. This is optional but useful if you -->
				<!-- want to modify the properties of the binding. -->
				<!-- The bindingConfiguration name Binding1 is defined -->
				<!-- below in the bindings element. -->
				<endpoint
					address=""
					binding="wsHttpBinding"
					bindingConfiguration="Binding1"
					contract="InstrumentLockService.IInstrumentLockService" />
				<!--<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/" />
					</baseAddresses>
				</host>-->
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="Binding1">
					<!-- Binding property values can be modified here. -->
					<!-- See the next procedure. -->
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	
	<!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe?redirectedfrom=MSDN-->
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="sdt"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "InstrumentLockServiceHost_WPF.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	
</configuration>
