<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<system.diagnostics>
  <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
                 <add name="messages"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="c:\temp\WCF\messages.svclog" />
          </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
    propagateActivity="true">
        <listeners>
              <add name="tracing"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="c:\temp\WCF\tracing.svclog" />
        </listeners>
      </source>
    </sources>
</system.diagnostics>
	
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>-->

	
	<!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe?redirectedfrom=MSDN-->
	<!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/diagnostics/tracing/configuring-tracing?redirectedfrom=MSDN-->

 <!--<system.serviceModel>
  <diagnostics performanceCounters="Default">
   <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
    logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
   <endToEndTracing propagateActivity="true" activityTracing="true"
    messageFlowTracing="true" />
  </diagnostics>
 </system.serviceModel>-->
</configuration>