<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="InstrumentLockServiceFacade.InstrumentLockServiceFacade" >

				<!-- Leave the address blank to be populated by default -->
				<!-- from the hosting environment,in this case IIS, so -->
				<!-- the address will just be that of the IIS Virtual -->
				<!-- Directory. -->

				<!-- Specify the binding configuration name for that -->
				<!-- binding type. This is optional but useful if you -->
				<!-- want to modify the properties of the binding. -->
				<!-- The bindingConfiguration name Binding1 is defined -->
				<!-- below in the bindings element. -->
				<endpoint
					address=""
					binding="wsHttpBinding"
					bindingConfiguration="wsHttpBindingConfig"
					contract="InstrumentLockServiceFacade.IInstrumentLockServiceFacade" />
				<!--<endpoint
					address=""
					binding="netTcpBinding"
					bindingConfiguration="netTcpBindingConfig"
					contract="InstrumentLockService.IInstrumentLockService" />-->
				<!--<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/" />
					</baseAddresses>
				</host>-->
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBindingConfig">
					<!-- Binding property values can be modified here. -->
					<!-- See the next procedure. -->
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="netTcpBindingConfig"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 transactionFlow="false"
						 transferMode="Buffered"
						 transactionProtocol="OleTransactions"
						 hostNameComparisonMode="StrongWildcard"
						 listenBacklog="10"
						 maxBufferPoolSize="524288"
						 maxBufferSize="65536"
						 maxConnections="10"
						 maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="8192"
								  maxArrayLength="16384"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<reliableSession ordered="true"
									 inactivityTimeout="00:10:00"
									 enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe?redirectedfrom=MSDN-->
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="sdt"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "InstrumentLockServiceHost_WPF.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

</configuration>