<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add initializeData="c:\temp\WCF\messagesServer.svclog" type="System.Diagnostics.XmlWriterTraceListener"
                        name="messages">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add initializeData="c:\temp\WCF\tracingServer.svclog" type="System.Diagnostics.XmlWriterTraceListener"
                        name="tracing">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" />
	</system.diagnostics>
	


	
    <!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe?redirectedfrom=MSDN-->
    <!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/diagnostics/tracing/configuring-tracing?redirectedfrom=MSDN-->

     <system.serviceModel>
      <diagnostics performanceCounters="Default">
       <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
       <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
      </diagnostics>
     </system.serviceModel>

</configuration>