<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInstrumentLockService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IInstrumentLockService"
                contract="InstrumentLockServiceClient.IInstrumentLockService"
                name="WSHttpBinding_IInstrumentLockService">
                <identity>
                    <userPrincipalName value="AMR\chiangch" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

	<!--https://learn.microsoft.com/en-us/dotnet/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe?redirectedfrom=MSDN-->
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="sdt"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "TesterClient_WPF.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>